<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <h1>
                    Oops!</h1>
            </div>
            <div class="d-flex justify-content-center">

                                <h2>
                    404 Not Found</h2>
                                </div>

                                <div class="d-flex justify-content-center">

                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="d-flex justify-content-center">

                    <button (click)="takeMeHome()" routerLink="" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </button>
                </div>
        </div>
    </div>
</div>
